<!--
<div class='reg-cen'>
<h1 class='oba-comm-das'> Comment/Complain Editing DashBoard</h1>

<%= render 'form', comment: @comment %>
<div class='navig-btn'>
<button class='btn-nav'><%= link_to 'To Comment Summary', @comment %></button>
<button class='btn-nav'><%= link_to 'To comment DashBoard', comments_path %></button>
</div>
</div>
-- >

