<div class='reg-cen'>
<h1 class='oba-comm-das'>Make Your Comment/Complain Here</h1>
<%= render 'form', comment: @comment %>
<button class= 'comm-path'><%= link_to 'Navigate to Comments/Complains DashBoard', comments_path %></button>
</div>
