<div class='reg-center'>
<h1>Obatek Telecom New Customer Registration Center</h1>

<div class='class=upload'>
<%= render 'form', customer: @customer %>
<!--
<%= link_to 'Back', customers_path %>
-->
</div>
</div>