<% if current_customer %>
<div class='reg-cen' >
<h1>Obatek Telecom New Request Form</h1>

<%= render 'form', request: @request %>
<div class='form_elem'>
<button class='btn-align'><%= link_to 'Home Page', root_path %></button>
<button class='btn-align'><%= link_to 'Navigate To Summary Page', requests_path %></button>
</div>
</div>
<% end %>