<div class='reg-cen' >
<h1>Obatek Telecom New Request Form</h1>

<%= render 'form', request: @request %>
<button class='btn-navi'><%= link_to 'Navigate To Summary Page', requests_path %></button>
</div>
