/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
}

.reg-signup {
  margin-right: 80px;
}

.front-log {
  width: 120px;
  height: 40px;
}

.signup-input{
  border-radius: 8px;
  width: 404px;
  height: 36px;
}

.notice {
    color: #fff;
}

.carousel {
  background-color: #e6e6fa;
  height: 250px;
  margin-left: 20px
}

.carol {
  height: 250px;
  width: 300px;
}